@projectBG:#c1cfdc;

// 颜色
@mianFsColor:#333;// 字体颜色

@themeBlue:rgb(55,178,248); // 主题颜色
@themeBlueHover:#12a5f7; // 主题颜色鼠标拂过

@themeOrange:#f49110; // 主题颜色2
@themeOrangeHover:#f49110; // 主题颜色2鼠标拂过

@success:#67C23A;
@error:#F56C6C;
@waring:#f49110;
@errorBad:#d50000;

////顶部
@topBG:#fff;
@topTxtC:#333;
@topShawC:rgba(0,0,0,.05);
//
@sideBG:#fff;
@sideTopC:#333;
@sideTopBG:#fff;

@mainBG:#fff;
@mainBG:#f9fce9;


