/* zheli shi zhushi*/
html{
	font-size:16px;
}
body,html,*{
	margin:0;
	padding:0;
}
body,html{
	margin:0;
	padding:0;
	//min-width:500px;
	background: @projectBG;
	width:100%;
	height:100%;
}
a{
	text-decoration: none;
}
.t-left{
	text-align: left;
}
.t-right{
	text-align: right;
}
.t-center{
	text-align: center;
}
.cursor-point{
	cursor: pointer;
}

.scroll-style::-webkit-scrollbar{
	width:5px;
	height:5px;
}
.scroll-style::-webkit-scrollbar-thumb{
	border-radius: 3px;
	background: #ccc;
}
.scroll-style::-webkit-scrollbar-track{
	width:7px;
	background: #ebebeb;
}
.btn{
	display: inline-block;
	color:#fff;
}
.btn-success{
	background:#67C23A;
}
.btn-error{
	background:#F56C6C;
}

.message-num{
	display: inline-block;
	color:#fff;
	background:#d50000;
	border-radius: 50%;
}

//面板
.u-panel{
	width:100%;
	.u-panel-card {
		margin: 20px;
		background: #fff;
	}
}
@media (max-width: 768px) {
	.u-panel-card{
		margin:20px 0 !important;
	}
}

// 左侧滑动
.slideTip{
	display: none;
	position: fixed;
	top: 50%;
	left: 2%;
	width: 40px;
	height: 40px;
	background: rgba(96, 122, 175,.5);
	color: #fff;
	border-radius: 25px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	z-index:900;
	i{
		font-size:22px;
	}
}
.headSlideMenu {
	position: fixed;
	&.from-top{
		top: -100%;
		left: 0;
		&.menu-show {
			-webkit-animation: menuNavShow .5s forwards;
			animation: menuNavShow .5s forwards;
		}

		&.menu-hidden {
			-webkit-animation: menuNavHidden .5s forwards;
			animation: menuNavHidden .5s forwards;
		}
		.headSlideMenuChild{
			width: 100%;
			margin-top:62px;
			min-height: 200px;
		}
	}
	&.from-left{
		top: 0;
		left: -100%;
		&.menu-show {
			-webkit-animation: menuNavShowLeft .5s forwards;
			animation: menuNavShowLeft .5s forwards;
		}

		&.menu-hidden {
			-webkit-animation: menuNavHiddenLeft .5s forwards;
			animation: menuNavHiddenLeft .5s forwards;
		}
		.headSlideMenuChild{
			width: 60%;
			height: 100%;
		}
	}

	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	z-index: 1000;
	.headSlideMenuChild {
		padding-top: 10px;
		background: #fff;
		overflow: auto;

		span,a {
			display: block;
			color: #333;
			padding-left: 20px;
			line-height: 40px;

			&:hover {
				color: #246dff;
				background: #ccc;
			}

			&.is-active {
				color: #246dff;
				background: #ccc;
			}
		}
	}
}

@keyframes menuNavShow {
	from {
		top: -100%;
	}
	to {
		top: 0;
	}
}

@keyframes menuNavHidden {
	from {
		top: 0;
	}
	to {
		top: -100%;
	}
}
@keyframes menuNavShowLeft {
	from {
		left: -100%;
	}
	to {
		left: 0;
	}
}

@keyframes menuNavHiddenLeft {
	from {
		left: 0;
	}
	to {
		left: -100%;
	}
}

// elementui 框架调整
@media (max-width: 768px) {
	.el-message-box{
		width:100% !important;
	}
}
