/*
 ----------------------
 css样式初始化
 ----------------------
 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }/*字体大小/字体行高 字体格式*/
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

/*
 ----------------------
 css - 公共样式
 ----------------------
 */

html{
	//font-size:16px;
}
body,html{
	background: @projectBG;
	width:100%;
	height:100%;
}
a{
	color: @topTxtC;
}

/*文本*/
.tl{
	text-align: left;
}
.tr{
	text-align: right;
}
.tc{
	text-align: center;
}
/*手势*/
.cursor-p{
	cursor: pointer;
}
/*滚动条*/
.scroll-style::-webkit-scrollbar{
	width:5px;
	height:5px;
}
.scroll-style::-webkit-scrollbar-thumb{
	border-radius: 3px;
	background: #ccc;
}
.scroll-style::-webkit-scrollbar-track{
	width:7px;
	background: #ebebeb;
}
/*按钮*/
.btn{
	display: inline-block;
	color:#fff;
}
.btn-success{
	background:#67C23A;
}
.btn-error{
	background:#F56C6C;
}
.btn-f49110{
	background:#f49110;
}
/*消息数字*/
.message-num{
	display: inline-block;
	color:#fff;
	background:#d50000;
	border-radius: 50%;
}
/*弹性布局*/
.x-flex{
	display:flex;
	justify-content: center;
	align-items: center
}
/*
 ----------------------
elementui - 公共样式调整
 ----------------------
 */

@media (max-width: 768px) {
	.el-message-box{
		width:100% !important;
	}
}
/*
 ------------------------------------------------------------
- 开始 pc移动自适应
 ------------------------------------------------------------
 */
/*pc端最小宽度*/
.all-wrap{
	max-width:1200px;
	margin:auto;
}
//面板
.u-panel{
	width:100%;
	.u-panel-card {
		margin: 20px;
		padding: 20px;
		background: #fff;
	}
}
@media (max-width: 768px) {
	//.body,html{
	//	background: @projectBG !important;
	//}
	.u-panel-card{
		margin:10px 0 !important;
	}
	.all-wrap{
		width:100% !important;
	}
}


//----------------------------------------------------------------------------------
//-------------------------结束 pc移动自适应-------------------------------------
//----------------------------------------------------------------------------------
